lectures/module1/*.mp4
lectures/module2/*.mp4
lectures/module3/*.mp4
lectures/module4/*.mp4
lectures/module5/*.mp4
lectures/module5/*.pptx
lectures/module6/*.mp4
lectures/module6/*.pptx
lectures/module7/*.mp4
lectures/module7/*.pptx
lectures/module8/*.mp4
lectures/module8/*.pptx